/* Provide sufficient contrast against white background */
a {
    color: #9cc1eb;
}

code {
  color: #E01A76;
}

.btn-primary {
    color: #f9faec;
    background-color: #f9faec;
    border-color: #1861ac;
}
:root {
    --primary-color: #28282a; /* Your custom primary color */
    --secondary-color: #9cc1eb; /* Your custom secondary color */
    --custom-background: #f9faec; /* Your custom background color */
}
